<html>
    <head>
        <title>Julia's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Julia's Blog</a></h1>
        </div>

        <div>
            <p>published: July 27, 2017</p>
            <h2><a href="">My First Post</a></h2>
            <p>I don't know what to write, so I'll just leave this here.</p>
        </div>

        <div>
            <p>published: 7.27.17, 12:14</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Trying to look all official-like.</p>
        </div>
    </body>
</html>
